<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
        <div>Microblog: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for("user", username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <!-- get_flashed_messages comes from flask and will get all messages that -->
        <!-- have been registered with flash, then will clear out that message bus. -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content%}{% endblock %}
    </body>
</html>

<!-- In this line: <a href="{{ url_for("user", username=current_user.username) }}">Profile</a> -->
<!-- the username part of the url is dynamic, so url_for takes it as a named -->
<!-- argument. We can use flask_login's current_user to handle direct us to the right place. -->
